*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*header*/
.heading{
    width: 800px;
    margin: auto;
    text-align: center;
}
.heading h1{
    font-size: 40px;
}
.explainationvideo{
    color: blue;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.explainationvideo:hover{
    text-decoration: underline;
}
.heading > h1+p , .content> p~p{
    color: rgb(126, 119, 119);
    margin:5px;
    font-size: 16px;
}
.categories{
    margin: 50px 50px;
    
    display: flex;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-3{
    flex-basis: 30%;
    max-width: 300px;
    margin-bottom: 30px;
    position: relative;
    flex-wrap: wrap;

}
.col-3 img{
    width: 100%;
    border-radius: 5px;
    display: block;
    
}
.col-3 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0,0,0,0.4);
    opacity: 0;
    height: 81%;
    transition: opacity 0.3s;
    border-radius: 5px;
}
.overlay:hover{
    opacity: 1 ;
}

.content2{
    min-width: 900px;
    margin:0px;
    
}

.small-container{
    width: 100%;
    padding-left: 25px;
    padding-right:25px;
    margin:auto;
}
.col-3 p , .content p{
    font-size: 16px;
    margin: 10px 0px;
}
.content{
    min-width: 250px;
    padding-left: 25px;
    padding-right:25px;
    text-align: left;
    margin-left: 80px;
    margin-right: 100px; 
}
.content p~p{
    margin: 20px 0px;
    font-size: 16px;
}
.content p~p:hover{
    text-decoration: underline;
}
.last_part{
    display: flex;
    text-align: center;
    background: rgb(243, 241, 241);
    margin: 70px 0;
    height: 200px;
    padding: 0px 100px;
    justify-content: center;
    
}
.last_part div{
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 16px;
    margin-right: 10px;
}
.last_part h3{
    font-size: 24px;
    font-weight: lighter;
}
/*Footer part*/
